---
import '@/styles/global.css'
import Layout from '../layouts/Layout.astro';
import ProjectsGrid from '@/components/projects/ProjectsGrid.astro';
import HeroSection from '@/components/hero/HeroSection.astro';
import PapersGrid from '@/components/papers/PapersGrid.astro';
import ExperienceContainer from '@/components/experience/ExperienceContainer.astro';
---

<Layout title="Antonio Ríos Vila Portfolio">
	<main>
        <HeroSection />
		<ProjectsGrid />
        <PapersGrid />
        <ExperienceContainer />
	</main>
</Layout>
