---
import '@/styles/global.css'
import Layout from '../layouts/Layout.astro';

import papers from '@/data/papers';
import PaperCard from '@/components/papers/PaperCard.astro';
import BackButton from '@/components/BackButton.astro'

const journal_papers = papers.filter((paper) => paper.venue_type === 'journal');
const congress_papers = papers.filter((paper) => paper.venue_type === 'congress');

---
<Layout title="Welcome to Astro.">
	<main>
        <section class="w-full py-6 md:py-8 lg:py-16 xl:py-16">
            <div class="flex flex-col items-center space-y-4 text-center">
                <div class="space-y-2">
                  <h1 class="text-2xl font-extrabold tracking-tight md:text-3xl lg:text-5xl bg-clip-text text-transparent bg-gradient-to-r from-primary to-gray-400">
                    Publications
                  </h1>
                  <p class="mx-auto max-w-[700px] text-zinc-500 md:text-xl dark:text-zinc-400">
                    Research publications since 2019
                  </p>
                </div>
                <BackButton/>
            </div>
        </section>
        <section class="max-w-7xl mx-auto px-4 py-8">
                <div class="grid grid-cols-2 gap-8">
                    <div>
                        <h1 class="text-3xl font-bold mb-8">Journal publications</h1>
                        {journal_papers.map((paper) => (
                            <div class="my-4">
                                <PaperCard paper={paper}/>
                            </div>
                        ))}
                    </div>
                    <div>
                        <h1 class="text-3xl font-bold mb-8">Congress publications</h1>
                        {congress_papers.map((paper) => (
                            <div class="my-4">
                                <PaperCard paper={paper}/>
                            </div>
                        ))}
                    </div>
                </div>
        </section>
	</main>
</Layout>
